
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">MONI</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">

                    <li>
                        <a href="{% url 'index' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-grid"></i></span><span class="pcoded-mtext">Inicio</span></a>
                    </li>


                    <li class="nav-item pcoded-menu-caption">
                        <label>Prestamos</label>
                    </li>
                    <li data-username="Prestamo" class="nav-item"><a href="{% url 'solicitud_prestamo' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Solicitar Prestamo</span></a></li>
                    
                    <li data-username="Prestamo" class="nav-item"><a href="{% url 'list_prestamo' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-copy"></i></span><span class="pcoded-mtext">List Prestamos</span></a></li>




                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}"class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Logout - [ {{ request.user.username }} ]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
