autopep8==1.5.4
certifi==2020.12.5
chardet==4.0.0
dj-database-url==0.5.0
Django==2.1.15
django-crispy-forms==1.9.2
future==0.18.2
idna==2.10
psutil==5.7.2
pycodestyle==2.6.0
python-decouple==3.3
pytz==2020.1
requests==2.25.1
sqlparse==0.3.1
sweetify==2.0.0
toml==0.10.1
Unipath==1.1
urllib3==1.26.2
whitenoise==5.2.0
